.form-label {
    margin-bottom: 0.5rem
}

.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:maroon;
    background-color: white;
    border: 1px solid #ced4da;
    background-clip: border-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15 ease-in-out;
}


.form-control:focus {
    color: black;
    background-color: cornsilk;
    border-color: cornflowerblue;
    /*box-shadow: 0 0 0 .2rem aquamarine*/;
}

/*.form-control::placeholder {
    color: darkolivegreen;
}*/